{% extends "base.html" %}

{% block content %}
<h2>添加设备</h2>
{% from "formhelpers.html" import render_field %}
<form method="post">
    <dl>
        {{ render_field(form.device) }}
        {{ render_field(form.remark) }}
    </dl>
    <input type="submit" value="添加"/>
</form>

<hr>
<h2>设备列表</h2>
<table border="1">
    <tr>
        <th>设备</th>
        <th>添加日期</th>
        <th>备注</th>
        <th>操作</th>
    </tr>
    {% for device in devices %}
    <tr>
        <td>{{ device[0] }}</td>
        <td>{{ device[1] }}</td>
        <td>{{ device[2] }}</td>
        <td>
            <form action="/delete" method="post">
                <input type="submit" value="删除"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
