{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('refresh') }}">刷新</a><br><hr>
<audio controls autoplay loop src="{{ albums[0]['musics'][1]['url'] }}" id="player"></audio><hr>
<div style="max-height:344; overflow: auto">
{% for album in albums %}
{% set color_flag = False %}
<nav style="float: left;">
<h2>【{{ album['name'] }}】</h2>
<div style="overflow-y: scroll; max-height:254;">
    {% for music in album['musics'] %}
        <button style="height:36; width:540; text-align:left; padding-left:0px; color:#ffffff;
                background-color:{{ '#262626' if color_flag else '#4d4d4d' }}; border:none;"
                onclick="document.getElementById('player').src='{{ music['url'] }}'">
            <img src="{{ music['picUrl'] }}" width="32" height="32" align="absmiddle"/>
            {{ music['name'] }}
        </button>
        {% set color_flag = Flase if color_flag else True %}
        <br>
    {% endfor %}
</div>
</nav>
{% endfor %}
</div>
<hr>
{% endblock %}
